<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="mailto:kamit9171@gmail.com"><i class='bx bxl-gmail'></i></a></li>
        <li><a href="https://www.facebook.com/kamit9171"><i class='bx bxl-facebook-circle'></i></a></li>
        <li><a href="https://www.instagram.com/i_atenn"><i class='bx bxl-instagram'></i></a></li>
    </ul>
    

    <ul class="contact-info">
        <li>Mobile: 7559172220</li>
        <li>kamit9171@gmail.com</li>
    </ul>
</div>