<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Amit Kumar</span><br>
        <span>Java Full Stack Developer</span>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <img src="../../assets/Sundar-Pichar-Profile-Square.png" alt="">
    </div>
    <div class="resume">
        <div class="resume-bg"></div>
        <a href="../../assets/resume.pdf" download>Download Resume</a>
    </div>

    <!-- Add Last Update Date -->
    <div class="last-update">
        <span>Last Update: September 30, 2023</span>
    </div>
</div>
